<!DOCTYPE html>
<html>
  <head>
	<title>Presentation template</title>
	<meta charset='utf-8'>
	<link rel='stylesheet' href='https://technogeek.io/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='https://technogeek.io/css/bootstrap-theme.min.css'/>
	<link rel='stylesheet' href='https://technogeek.io/css/style.css'/>
	<script src='https://technogeek.io/slides/slides.js'></script>
  </head>

  <body style='display: none'>

  <section class='slides layout-widescreen'>
	<article>
	  <h1>Presentation template</h1>
	  </br>
	  <div class="presenter">
		<p>
			Peter Kalambet
		</p>
		<p>
			Qiwi Blockchain Technology
		</p>
	  </div>
	</article>

	<article>
		<h3>Slide 1</h3>
		<p>
			Важный текст про умное
		</p>
		</br>
		<p>
		<b>Ещё текст</b>
		</p>
		<p>
			И тут снова про умное
		</p>
	</article>

	<article>
		<h3>Slide 2</h3>
		<p>
			Ну тут такое, что вообще
		</p>
		<p>
			И тут тоже
		</p>
		<p>
<pre>
void main (void) {
    return -1; //Шеф, всё пропало
}
</pre>
</p>
<p>
<code>
fn main() {
    return 0;
}
</code>
</p>

		<p>
			А тут как бы список такой
		</p>
		<ul>
			<li>Пункт 1</li>
			<li>Пункт 2</li>
			<li>Пункт 3</li>
		</ul>
	</article>

  </section>
	<div id="help">
	  Используйте стрелки вправо и влево или правый или левые края слайдов для навигации.<br>
	  (Нажмите 'h' или начините переключаться между слайдами, чтобы скрыть это сообщение.)
	</div>
  </body>
  <script src='https://s3.amazonaws.com/technogeekslides/play.js'></script>

</html>
